<html>
    <head>
    </head>
<body>
    <div>
        <form action="/manatees" method="post">
        Name of your manatee: <input type='text' id="Input" name='name'>
        Ocean your manatee belongs to: <input type="text" name="ocean">
        <button>Add your manatee!</button>
        </form>
    </div>
</body>
</html>