<html>
    <head>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </head>
<body>
    <div>
        <h1>Welcome to QuotingDojo</h1>
        <form action="/quotes" method="post">
        Your name: <input type='text' id="Input" name='name'>
        <br>
        Your quote: <input type='text' id="Input" name='quote'>
        <button>Add my quote!</button>
        </form>
        <a href="/quotes">Skip to quotes!</a>
    </div>
</body>
</html>

