<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <!--{% load staticfiles %}-->
    <!--<link rel="stylesheet" href="{% static 'books/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">-->

</head>
<body>
    <hr>
    {% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
    {% endif %}
    <div class="add">
        <form action="/validateandaddusers" method="post">
            {% csrf_token %}
            Username: <input type="text" name="email">
            <input type="submit" value="Submit!">
        </form>
    </div>
</body>
</html>