div{
    background-color: lightseagreen;
    width: 30%;
    margin: 20px;
    padding: 20px;
    display: inline-block;
}

button{
    background-color: white;
    border: none;
    margin-bottom: 10px;
    text-align: center;
}

a{
    text-decoration: none;
}

.button{
    padding: 5px;
    margin: 5px;
    margin: auto;
}