.red { background-color: red; }
.bold { 
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
     }


.on { background-color: yellow; }

.ng-invalid { }
.ng-valid { }
.ng-untouched { }
.ng-touched { }
.ng-dirty { }
.ng-pristine { }
