<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p class="message">{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
    <form action='/login', method='POST'>
        <label for="emailforlogin">Email:<input type="text" name="emailforlogin" id="emailforlogin"></label>
        <hr>
        <label for="passwordforlogin">Password:<input type="password" name="passwordforlogin" id="passwordforlogin"></label>
    <input type="submit" value="Submit">
  </form>
    <hr>
    <h1>Register</h1>
    <form action='/toregister' method='POST'>
        <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
        <hr>
        <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
        <hr>
        <label for="email">Email:<input type="text" name="email" id="email"></label>
        <hr>
        <label for="password">Password:<input type="password" name="password" id="password"></label>
        <hr>
        <label for="passwordconfirm">Password Confirmation:<input type="password" name="passwordconfirm" id="passwordconfirm"></label>
    <input type="submit" value="Submit">
  </form>
</body>
</html>