<h3>{{createtitle}}</h3>
 <form (submit)="CreatingBike()" #gettingformDataforBike="ngForm"  method='post'> 
  <label>Image:</label> <input required  type='text' name='bikeimage' [(ngModel)]="bike.image" #bikeimage="ngModel">
  <div class="red" *ngIf="bikeimage.errors && (bikeimage.dirty || bikeimage.touched)">
        <div [hidden]="!bikeimage.errors.required">
          Bike Image is required
        </div>
  </div> 
  <label>Title:</label> <input type='text' required name='biketitle' [(ngModel)]="bike.title" #biketitle="ngModel">
  <div class="red" *ngIf="biketitle.errors && (biketitle.dirty || biketitle.touched)">
        <div [hidden]="!biketitle.errors.required">
          Bike Title is required
        </div>
  </div> 
  <label>Description:</label><input required maxlength="200"  type='text' name='bikedescription' [(ngModel)]="bike.description" #bikedescription="ngModel">
  <div class="red" *ngIf="bikedescription.errors && (bikedescription.dirty || bikedescription.touched)">
        <div [hidden]="!bikedescription.errors.required">
          Description is required
        </div>
  </div> 
  <label>Price:</label> <input type='text' required name='bikeprice' [(ngModel)]="bike.price" #bikeprice="ngModel">
  <div class="red" *ngIf="bikeprice.errors && (bikeprice.dirty || bikeprice.touched)">
        <div [hidden]="!bikeprice.errors.required">
          Price is required
        </div>
  </div>
  <label>Location:</label>
      <input type="text" name="bikelocation" required  [(ngModel)]="bike.location" #bikelocation="ngModel"> 
      <div class="red" *ngIf="bikelocation.errors && (bikelocation.dirty || bikelocation.touched)">
        <div [hidden]="!bikelocation.errors.required">
          Location is required
        </div> 
      </div>   
  <input [disabled] = "bikeimage.errors || biketitle.errors || bikedescription.errors ||  bikeprice.errors || bikelocation.errors"   type="submit" value="Create">
  
</form> 

<div *ngFor="let bike of bikes">
  <h1>{{bike.title}}</h1>
  <h3>{{bike.location}}</h3>
</div>
