<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ninja Gold</title>
    {% load staticfiles %}

        <link rel="stylesheet" href="{% static 'gold/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">
    <style>
    </style>
</head>
<body>
    <h2>Your Gold: {{ request.session.gold }}</h2>
    <div class="building">
        <h3>Farm</h3>
        <p>(earns 10-20 golds)</p>
        <form action="/process_money" method="post">
            {% csrf_token %}
          <input type="hidden" name="building" value="farm" />
          <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="building">
        <h3>Cave</h3>
        <p>(earns 5-10 golds)</p>
        <form action="/process_money" method="post">
            {% csrf_token %}
          <input type="hidden" name="building" value="cave" />
          <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="building">
        <h3>House</h3>
        <p>(earns 2-5 golds)</p>
        <form action="/process_money" method="post">
            {% csrf_token %}
          <input type="hidden" name="building" value="house" />
          <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <div class="building">
        <h3>Casino</h3>
        <p>(earns/takes 10-20 golds)</p>
        <form action="/process_money" method="post">
            {% csrf_token %}
          <input type="hidden" name="building" value="casino" />
          <input type="submit" value="Find Gold!"/>
        </form>
    </div>
    <h2>Activities</h2>
    <div id="activities">

            {% for para in  request.session.activities reversed %}
                <p class={{para.1}}>{{para.0}}</p>
            {% endfor %}


    </div>

    <a href="/reset">Reset</a>


</body>
</html>