<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
        {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'bookreviews/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">

</head>
<body>
                    {% if messages %}
                    {% for message in messages %}
                        <h3 class="message">{{message}}</h3>
                    {% endfor %}
                {% endif %}
    <h1>Welcome!</h1>
    <h3>Register</h3>
    <form action="/registerandadd" method="POST">
        {% csrf_token %}
        <p>Name:</p> <input type="text" name="name">
        <p>Alias:</p> <input type="text" name="alias">
        <p>Email:</p> <input type="text" name="email">
        <p>Password</p> <input type="password" name="password">
        <p>Password Confirmation</p> <input type="password" name="passwordconfirmation">
        <input type="submit" value="Register">
    </form>

    <h3>Login</h3>
    <form action="/login" method="POST">
        {% csrf_token %}
        <p>Email: </p><input type="text" name="email">
        <p>Password: </p><input type="password" name="password">
        <input type="submit" value="Login">
    </form>

</body>
</html>