<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
</head>
<body>

                <h2>{{book.title}}</h2>
                Author: {{book.author.name}}
                <h1>Reviews</h1>
                {{bookreview.content}}
                {{bookreview.rating}}
                {% if bookreview %}
                    {% for diffbookrev in bookreview %}
                        <h3><a href="/users/{{diffbookrev.thisuser.id}}/">{{diffbookrev.thisuser.alias}}</a></h3>
                        <h3 class="message">{{diffbookrev.rating}}</h3>
                        <h3 class="message">{{diffbookrev.content}}</h3>
                        <h3>{{diffbookrev.created_at}}</h3>
                        {% if diffbookrev.thisuser.id == user.id %}
                            <a href="/deletereview/{{diffbookrev.id}}/">delete</a>
                        {% endif %}
                        {% endfor %}
                {% endif %}
                <h1>Add a Review</h1>
                <form action="/addindreview" method="POST">
                    {% csrf_token %}
                    <p>Review:</p> <input type="text" name="book_review">
                    Rating:
                    <select name = "book_rating">
                        <option value="1">*</option>
                        <option value="2">**</option>
                        <option value="3">***</option>
                        <option value="4">****</option>
                        <option value="5">*****</option>
                    </select>
                    <input type="submit" value="Submit Review">
                </form>
</body>
</html>