<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Most Popular Secrets</title>
       {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'secrets/css/styles.css' %}" media="screen" title="no title"  charset="utf-8">

</head>
<body>
    <a href="/secrets">Back</a>
    <h1>Most Popular Secrets...</h1>
    <h1>Post secret!</h1>
        {% if allsecrets %}
    {% for secret in allsecrets%}
        <div class="secret">
            <p>{{secret.content}}</p>
            <p class="italics">({{secret.createdAt}})</p>
            <p> by {{secret.creator.first_name}}</p>
            {% if secret.creator.id != thisuserId %}
                {% for i in secret.likes.all %}
                    {% if i.id == thisuserId %}
                        <p>You liked this</p>                                                
                    {% endif %}
                {% endfor %}
                {{secret.likes.all | length }} <a href="/like/{{secret.id}}">Likes</a>

                
            {% else %}
                <p>{{secret.likes.all | length }} Likes</p>
                <p>You posted this</p>
                <a href="/delete/{{secret.id}}">Delete</a>
            {% endif %}
        </div>
    {% endfor %}
    {% endif %}

</body>
</html>