<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages %}
    {% for message in messages %}
        {{message}}
    {% endfor %}
    {% endif %}
    <h1>Register</h1>
    <form action="/addinterestandname" method="post">
        {% csrf_token %}
        First Name: <input type="text" name="first_name">
        Last Name: <input type="text" name="last_name">
        E-mail: <input type="text" name="emailforregister">
        Password: <input type="password" name="passwordforregister">
        Confirm Password: <input type="password" name="passwordconfforregister">
        <input type="submit" value="Register">
    </form>
    <h1>Login</h1>
    <form action="/login" method="post">
        {% csrf_token %}
        E-mail: <input type="text" name="emailforlogin">
        Password: <input type="text" name="passwordforlogin">
        <input type="submit" value="Log In">
    </form>

</body>
</html>