<p>
  color works!
</p>

<span style="text-align:center">
  <h1>
    {{title}}!
  </h1>
</span>
<div [ngStyle]="{'background-color': arrayofColorsHEX[0]}">
</div>
<div [ngStyle]="{'background-color': arrayofColorsHEX[getthatcolor()]}">
</div>
<div [ngStyle]="{'background-color': arrayofColorsHEX[getthatcolor()]}">
</div>
<div [ngStyle]="{'background-color': arrayofColorsHEX[getthatcolor()]}">
</div>
<div [ngStyle]="{'background-color': arrayofColorsHEX[getthatcolor()]}">
</div>
<div [ngStyle]="{'background-color': arrayofColorsHEX[getthatcolor()]}">
</div>
<div [ngStyle]="{'background-color': arrayofColorsHEX[getthatcolor()]}">
</div>
<div [ngStyle]="{'background-color': arrayofColorsHEX[getthatcolor()]}">
</div>
