<html>
<head>
 <title></title>
</head>
<body>
 <h3>Add an User!</h3>
 <form action='/usersnames' method='post'>
    Email: <input  type='text' name='email'>
    First Name: <input type='text' name='first_name'>
    Last Name: <input type='text' name='last_name'>
    Password: <input type='text' name='password'>
    Birthday: <input type='text' name='birthday'>
    <input type="submit" value="Submit">
    
 </form>
 <a href="/main" role="button">To the Users</a>
</body>
</html>
