.header{
	
	background-color: lightgrey;
	padding: 10px;
	height: 100%;

}

.name{
	font-weight: bold;
	display: inline-block;
}

.moreinfp{
	display: inline-block;
	margin-left: 800px;

}

.name > h1, .moreinfp > p{
	display: inline-block;
}

.name > h1{
	
	font-weight: 100;
}

.moreinfp > p{
	
}

body{
	margin: 0;
	
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 0%, rgba(237,237,237,1) 22%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(0%, rgba(250,250,250,1)), color-stop(22%, rgba(237,237,237,1)), color-stop(59%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 0%, rgba(237,237,237,1) 22%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 0%, rgba(237,237,237,1) 22%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 0%, rgba(237,237,237,1) 22%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(250,250,250,1) 0%, rgba(237,237,237,1) 22%, rgba(255,255,255,1) 59%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );

	width: 100%;
	font-family: "Helvetica", Arial, sans-serif;
}

.tab{
	background-color: lightgrey;
	padding: 5px;
}

.imgforport {
	display: inline-block;
	margin: 10px;
	border: 5px solid grey;
	width: 370px;
	height: 290px;
}

.imgforport img{
	border: 5px solid grey;
	width: 370px;
	height: 290px;
}
.box{
	background-color: white;
	
	display: inline-block;
	width: 50%;
	margin: 10px;
	padding-bottom: 5px;
}
.box p, .box a{
	padding: 5px 15px;
}
.info{
	    margin: auto;
	    width: 960px;
}

.projectsdone{
	display: inline-block;
}

.projects{
	width: 350px;
	display: inline-block;
	background-color:lightgrey;
	margin: 10px;
}

.projects > img{
	height: 200px;
	width: 350px;
}

.someinfo > p{
	height: 130px;
	padding: 10px;
}

.wrapper{
	margin: 0 auto;
	width: 1200px;
}

.tech{
	padding: 15px;
	margin: auto;	
}

.tech img{
	width: 35px;
	height: 35px;
	margin: 10px;

}

.tech button{
	display: block;
	padding:5px;
	background-color: forestgreen;
	padding: 5px;
	font-weight: 600;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin: auto;

}
.someinfo{
	background: white;
}

.someinfo button{
	text-align: center;
}

.footer{
	vertical-align: bottom;
	background: lightgrey;
	text-align: center;
	padding: 5px;
}

.footer img{
	width: 25px;
	height: 25px;
}

.footer a{
	color: black;
}